$font-path: 'https://static.billhunt.dev/assets/fonts/';
// $font-path: '/assets/fonts/';
$fa-font-path: $font-path + 'fontawesome';

@import "web-fonts-local";

/* Colors */
$purple : #8255A6;
$teal : rgba(17, 198, 169, 1);
$lemon : #ffc107;
$sienna : #D9503C;
$orange : #D97B36;
$khaki : #F2E3A7;
$white : #fffcf6;
$dark: #2f2f35;
$blue: #4f9cff;
$iceblue: #4abaf7;
$green: #4a8a16;
$red: #ba2618;

$accent-color: $blue;

$link-color: $accent-color;
$link-hover-color: $accent-color;
$link-hover-decoration: none;

$main-background: $white;

$nav-link-hover-bg: rgba(#fff, 0.3);


/* Sizes */
$page-width: 1140px;
$column-width: 380px;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$grid-gutter-width: 10px;

$border-weight-thin: 2px;
$border-weight-thick: 2px;

/* Fonts */
$main-font-stack: Verdana, Arial, Helvetica, sans-serif;
$accent-font-stack: 'Montserrat', sans-serif;
$code-font: monospace;
$special-font-stack: 'Silkscreen', monospace;

@include web-fonts(
  ("Montserrat", "montserrat", (500, 700)),
  ("Silkscreen", "silkscreen", (400, 800)),
  ("HelveticaCompressed", "helvetica-compressed", (700))
);

// $font-weight-normal: normal !default;

// $color-main-bg: #332e2b; // Warm Charcoal
// $color-content-bg: #fbf7ea; // Parchment
// $color-main-text: #332e2b; // Warm Charcoal
// $color-main-link: #086EB1;

// $font-family-serif: 'Merriweather', "Times New Roman", Times, serif !default;
// $font-family-base: $font-family-serif;

// $body-bg: $color-main-bg;
// $text-color: $color-main-text;
// $link-color: $color-main-link;
// $link-hover-color: lighten($link-color, 15%);

// $navbar-height: 40px;
// $navbar-default-color: inherit;
// $navbar-default-bg: $color-content-bg;

.container {
  max-width: $page-width + (2*$grid-gutter-width) + (2*$border-weight-thick);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-md) {
    border: $border-weight-thick solid $dark;
  }
}

@mixin standard-padding {
  padding: 5px $grid-gutter-width;
}

%font-normal {
  font-weight: 400;
}

%semibold {
  font-weight: 600;
}
%bold {
  font-weight: 700;
}

@mixin text-outline($color: #000, $size:1px) {
  text-shadow:
    (-1*$size) (-1*$size) 0 $color,
    $size (-1*$size) 0 $color,
    (-1*$size) $size 0 $color,
    $size $size 0 $color;
}


@mixin shadow() {
  box-shadow: 10px 5px rgba(00,00,00,0.4);
}

%shadow-float {
  box-shadow: 5px 5px rgba(00,00,00,0.4);
}

%header-decoration {
  &:hover {
    border-bottom: 2px solid $dark;
    margin-bottom: -2px;
  }

}

%table-to-cards {
  tbody {
    display: flex;
    flex-direction: row;
  }

  tr {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  td {
    display: block;
  }
}


// Dimensions
@mixin dotbg($dot-color) {
  @if $dot-color == $lemon {
    background: url('/assets/images/bg-yellow.png');
  }
  @else if $dot-color == $sienna {
    background: url('/assets/images/bg-red.png');
  }
  @else if $dot-color == $green {
    background: url('/assets/images/bg-green.png');
  }
  @else if $dot-color == $purple {
    background: url('/assets/images/bg-purple.png');
  }
  @else {
    background: url('/assets/images/bg-blue.png');
  }
}

@mixin linebg($line-color, $bg-color: $white, $line-size: $bg-dot-size, $line-space: $bg-dot-size) {
  background: repeating-linear-gradient(
    45deg,
    $line-color 0,
    $line-color $line-size,
    $bg-color $line-size,
    $bg-color ($line-size+$line-space)
  );
}

%bordered {
  border: 2px solid $dark;
}

@mixin bordered-box($bgcolor) {
  padding: 0;

  &::before {
    border-color: $bgcolor;
  }

  .post-header {
    transition: all .1s ease-in-out;
    $border-width: 1px;
    $corner-size: 10px;
    border: 2px solid $dark;
    border-bottom: none;
    border-top-right-radius: 30px;
    overflow: hidden;
    margin-bottom: 0;
    padding-right: 10px;

    color:  $white;
    background-color: $bgcolor;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &.hoverable {
      &:hover {
        background-color: lighten($bgcolor, 10%);
        color: $white;
      }
    }

    a {
      display: block;
      padding: 1px 7px;
    }
  }

  .post-date {
    margin-right: 30px;
    margin-left: 10px;
    font-size: 0.9rem;
    font-family: $special-font-stack;
  }

  .btn {
    color:  $white;
    background-color: $bgcolor;
    &:hover {
      color:  $white;
      background-color: lighten($bgcolor, 10%);
    }
  }
}

%major-border {
  border: 2px solid $dark;
}

%minor-border {
  border: 1px solid $dark;
}

/** Animations **/

.bounce {
  animation: bounce 2s ease infinite;
  display: inline-block;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}