# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Krues8dr.com
email: ""
description: >- # this means to ignore newlines until "baseurl:"
  Personal website and blog of Bill Hunt
#baseurl: "" # the subpath of your site, e.g. /blog
#url: "" # the base hostname & protocol for your site, e.g. http://example.com

repository: "krusynth/billhunt.dev"

paginate: 5
paginate_path: "/blog/:num/"

sass:
    sass_dir: assets

sass:
    load_paths:
        - assets/_sass
        - node_modules

# Build settings
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag

# A list of the pages to display in the navigation bar
header_pages:
  - index.html
  - about.md
  - contact.md

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - package.json
  - node_modules
  - update_boostrap.sh
  - yarn.lock
  - yarn-error.log
  - "*.sublime-project"
  - "*.sublime-workspace"
  - Capfile
  - config
  - log
  - demo

symlinks:
  - _uploads

permalink: /:categories/:title:output_ext

collections:
  category:
    output: true

# defaults:
#   -
#     scope:
#       path: ""
#       type: category
#     values:
#       layout: "category"