---
layout: default
title: Blog
---

<section class="about-header">
  <div class="block block-description">
    <img class="profile-photo" src="/uploads/2009/03/bill-hunt.jpg" alt="Photo of Bill Hunt" />
    <p class="long">
      Currently: <strong>Chief Enterprise Architect</strong> at the <strong>U.S. Small Business Administration</strong> in <strong>Washington, DC</strong>.
    </p>
    <p class="short">
      Chief Enterprise Architect at US SBA, Washington DC.
    </p>
    <p class="long">
      Previously: Cloud Policy Lead at the Office of Management and Budget (The White House), US Digital Service at the Department of Veterans Affairs, Sunlight Foundation, OpenGov Foundation, etc.
    </p>
    <p class="short">
      Previously: OMB OFCIO (The White House), USDS at the VA, Sunlight Foundation, etc.
    </p>
    <p class="long">
      Enthusiastic about Transparency, Civic Tech, Open Data, and Tea.
      <a href="/about/">More about me</a>.
    </p>
    <p class="short">
      Transparency, Civic Tech, &amp; Tea.
    </p>
  </div>
</section>

<!-- This loops through the paginated posts -->

{%- assign date_format = "%b %-d, %Y" -%}
{% for post in paginator.posts %}
<article class="post-multiple">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="author">
    <span class="date">
        {{ post.date | date: date_format }}
    </span>
  </p>
  <div class="page-content">
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | strip_html | truncatewords:75 }}
    {% endif %}
  </div>
  <a href="{{ post.url }}">Read More</a>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>