---
layout: default
title: Blog
---

<section class="about-header">
  <div class="block block-description">
    <img class="profile-photo" src="/uploads/2009/03/bill-hunt.jpg" alt="Photo of Bill Hunt" />
    <p>
      US Gov Civic Technologist & Public Policy Expert in Washington DC. Maker of <a href="https://twitter.com/EOPbot">@EOPbot</a>.
    </p>
    <p>
      Now: US SEC. Before: US SBA, OMB (The White House), USDS at the VA, Sunlight Foundation, etc.
    </p>
    <p>
      Enthusiastic about Transparency, Civic Tech, Open Data, and Tea.
      <a href="/about/">More about me</a>.
    </p>
  </div>
</section>

<!-- This loops through the paginated posts -->

{%- assign date_format = "%b %-d, %Y" -%}

{% if paginator.page == 1 %}
  {% assign featured_posts = site.posts | where:"featured","true" %}
  {%- if featured_posts.size > 0 -%}
    <section class="featured">
      <strong>Featured</strong>

      <article class="post-multiple">
        {% fas "fa-star featured-icon" %}
        <h2><a href="/move-carefully/">Move Carefully and Fix Things Stickers</a></h2>
        <div class="page-content">
          <img alt="Photo of Move Carefully and Fix Things stickers" src="/uploads/2021/02/movecarefully-photo.jpg">
        </div>
        <div class="page-content">
          After my <a href="/blog/2020/11/09/welcome-home/">little post on joining government service</a>, a lot of people asked about stickers for “Move Carefully and Fix Things." I had some made and now I want to give them to you for free! (But maybe we can also help good causes at the same time!)
        </div>
        <a href="/move-carefully/">Get a free sticker!</a>
      </article>

      {% for post in featured_posts -%}
        <article class="post-multiple">
          {% fas "fa-star featured-icon" %}
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="author">
            <span class="date">
                {{ post.date | date: date_format }}
            </span>
          </p>
          {% if post.image %}
            <p>
              <img src="{{ post.image }}" class="featured-image">
            </p>
          {% endif %}
          <div class="page-content">
            {% if post.excerpt %}
              {{ post.excerpt }}
            {% else %}
              {{ post.content | strip_html | truncatewords:75 }}
            {% endif %}
          </div>
          <a href="{{ post.url }}">Read More</a>
        </article>
      {% endfor %}
    </section>
  {% endif %}
{% endif %}

{% for post in paginator.posts %}
{% if post.featured == nil %}
<article class="post-multiple">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="author">
    <span class="date">
        {{ post.date | date: date_format }}
    </span>
  </p>
  <div class="page-content">
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | strip_html | truncatewords:75 }}
    {% endif %}
  </div>
  <a href="{{ post.url }}">Read More</a>
</article>
{% endif %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>