<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {%- assign timestamp = 'now' | date: '%s' -%}
  <link rel="stylesheet" href="{{ "/assets/css/main.css?" | append: timestamp | relative_url }}">
  <link rel="stylesheet" media="print" href="{{ "/assets/css/print.css?" | append: timestamp | relative_url }}">

  <link rel="alternate" type="application/atom+xml" title="{{ site.name }} - All Content" href="{{ site.url }}/feed.xml" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }} - Posts Only" href="{{ site.url }}/posts.xml" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }} - Jobs Only" href="{{ site.url }}/jobs.xml" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }} - Recommended Links Only" href="{{ site.url }}/recommended.xml" />

  <script src="https://static.billhunt.dev/assets/js/jquery.min.js?{{ timestamp }}"></script>
  <script src="https://static.billhunt.dev/assets/js/unpoly.min.js?{{ timestamp }}"></script>
  <script src="https://static.billhunt.dev/assets/js/fontawesome/fontawesome.min.js?{{ timestamp }}"></script>
  <script src="https://static.billhunt.dev/assets/js/web-midi-player.js?{{ timestamp }}"></script>
  <script type="module" src="https://static.billhunt.dev/assets/js/main.js?{{ timestamp }}"></script>
</head>
