<nav class="navbar navbar-expand-lg container">
  <div class="branding">
    <a class="navbar-brand" rel="author" href="/" up-follow>{{ site.title | escape }}</a>
    <div class="about-description">
      U.S. Gov Civic Technologist & Policy Expert
    </div>
  </div>

  <div class="navlink-container">
    <ul class="nav navbar-nav nav-pages">
      <li class="nav-item nav-page">
        <a class="nav-link" href="/" up-follow>Blog</a>
      </li>
      <li class="nav-item nav-page">
        <a class="nav-link" href="/about/" up-follow>About</a>
      </li>
      <li class="nav-item nav-page">
        <a class="nav-link" href="/contact/" up-follow>Contact</a>
      </li>
      <li class="nav-item nav-page">
        <a class="nav-link" href="/shop/" up-follow>Shop</a>
      </li>
      {%- if site.author.social %}
        {%- for social in site.author.social %}
      <li class="{{ social[0] | downcase }} nav-item nav-social">
        <a href="{{ social[1] }}" title="{{ social[0] }}" class="nav-link"><span class="fab fa-{{ social[0] | downcase }} icon"></span></a>
      </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>

  <div class="audioplayer-block">
    <div id="audioplayer" class="audioplayer">
      <button id="playpause" class="player-button"><span class="fa fa-solid fa-play" id="playbutton"></span><span class="fa fa-solid fa-pause hide" id="pausebutton"></span></button>
      <select id="audiofile" class="player-button tracklist" aria-label="Track to Play">
        <option value="Nine_Inch_Nails-Head_Like_A_Hole.mid">Nine Inch Nails - Head Like A Hole</option>
        <option value="Prodigy-Breathe.mid">Prodigy - Breathe</option>
        <option value="Sisters_of_Mercy-Temple_of_Love.mid">Sisters of Mercy - Temple of Love</option>
        <option value="The_Cult-She_Sells_Sancturary.mid">The Cult - She Sells Sancturary</option>
        <option value="KMFDM-Megalomaniac.mid">KMFDM - Megalomaniac</option>
        <option value="Tool-Aenima.mid">Tool - Aenima</option>
        <option value="Rammstein-Engel.mid">Rammstein - Engel</option>
        <option value="Rancid-TimeBomb.mid">Rancid - TimeBomb</option>
        <option value="Mighty_Mighty_Bosstones-The_Impression_That_I_Get.mid">Mighty Mighty Bosstones - The Impression That I Get</option>
        <option value="Offspring-All_I_Want.mid">Offspring - All I Want</option>
        <option value="Smashing_Pumpkins-1979.mid">Smashing Pumpkins - 1979</option>
        <option value="Nirvana-Heart_Shaped_Box.mid">Nirvana - Heart Shaped Box</option>
      </select>
    </div>
  </div>

  <section class="about-header">
    <div class="navbar-tagline" id="tagline">Every Day Is Halloween</div>
  </section>
</nav>
