<nav class="navbar navbar-expand-lg fixed-top container">
  <div class="container-fluid">
    <a class="navbar-brand" rel="author" href="/">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav nav-pages">

        {% assign links = site.data.navigation %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'active' %}
            {% endif %}
            {% if link.sublinks %}
                <li class="nav-item dropdown {{ class }}">
                    <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link">{{ link.title }}</a>
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for sublink in link.sublinks %}
                            {% if sublink.title == 'separator' %}
                                <li role="separator" class="divider"></li>
                            {% else %}
                                <li class="dropdown-item">
                                    <a class="nav-link" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item {{ class }}">
                    <a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endif %}
        {% endfor %}

      </ul>
      <ul class="nav navbar-nav nav-social">
        <li class="linkedin">
          <a href="https://www.linkedin.com/in/krusynth/" title="LinkedIn"><span class="icon"></span><span>LinkedIn</span></a>
        </li>
        <li class="github">
          <a href="https://github.com/krusynth?tab=repositories" title="GitHub"><span class="icon"></span><span>GitHub</span></a>
        </li>
        <li class="twitter">
          <a href="https://twitter.com/krusynth" title="Twitter"><span class="icon"></span><span>Twitter</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
