---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap_customization";
@import "web-fonts";
@import "@fortawesome/fontawesome-pro/scss/fontawesome";
@import "@fortawesome/fontawesome-pro/scss/solid.scss";
// @import "@fortawesome/fontawesome-pro/scss/light.scss";
@import "@fortawesome/fontawesome-pro/scss/regular.scss";
@import "@fortawesome/fontawesome-pro/scss/brands.scss";

@include web-fonts(
 // ($accent-font: ("400")),
 ($main-font: ("400", "400 italic", "600", "600 italic"))
);

%semibold {
  font-weight: 600;
}
%bold {
  font-weight: 700;
}

@mixin text-outline($color: #000) {
  text-shadow:
    -1px -1px 0 $color,
    1px -1px 0 $color,
    -1px 1px 0 $color,
    1px 1px 0 $color;
}


%shadow {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

%header-decoration {
  @extend %shadow;
  &:hover {
    border-bottom: 1px solid $white;
    margin-bottom: -1px;
  }

}

body {
  margin-top: $header-height;
  background: #d9d5cd url(/assets/images/bedge_grunge.jpg);
  font-family: $main-font-stack;
  font-weight: 300;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $main-font-stack;
  font-weight: 400;
  a {
    color: inherit;
  }
}

input {
  font-family: $main-font;
  font-weight: 300;
  font-size: .85em;
}

a {
  color: $skyblue;
  border-bottom: 1px dotted $skyblue;
  &:hover {
    border-bottom: none;
  }
}

strong {
  @extend %semibold;
}

.print-only {
  display: none;
}

.navbar-brand {
  font-size: 1.2rem;
  padding: 0px;
  margin: 0 1rem 0 0;
  @extend %header-decoration;
}

.nav-link {
  padding: 0!important;
  margin: 0 0.5rem;
  @extend %header-decoration;
}

.nav-social a {
  /* Slightly lighter text shadow than we use on text. */
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);

}

.navbar-toggler {
  padding: 0.5rem 0.25rem 0rem;
}

.navbar-toggler-icon {
  @extend .far;
  @extend .fa-bars;
  color: $white;
}

code {
  font-family: $code-font;
}

.content {
  @extend .container;
  background: $white;
  margin-bottom: 4rem;
}

.example {
  display: none;
}

.example.active {
  display: block;
}

article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-photo {
  width: 75px;
  height: 75px;

  .page-about & {
    width: 150px;
    height: 150px;
    margin-bottom: 2rem;
  }
}

.about-header {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem $grid-gutter-width/2;

  padding-top: 1rem;
  padding-bottom: 0rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid #999;

  .page-about & {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .block-profile {
    line-height: 1;
    margin-bottom: 1rem;
  }

  .block-description {
    min-width: 300px;
    flex-grow: 1;
    font-size: 0.9rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
}

/* About page */
.about-summary {
  text-align: justify;
}

.job {
  &-title {

    display: flex;
    justify-content: space-between;

    &-text {
      font-size: 1.3rem;
    }

    span {
      display: block;
    }

    &-position {
      margin-top: 0.25rem;
      font-size: 1.1rem;
    }

    &-company {
      @extend %semibold;
    }
  }

  &-description {
    margin-bottom: 1rem;
    text-align: justify;

    :first-child {
      padding-top: 0;
    }
  }

  &-accomplishments {
    font-size: 0.9rem;
  }

  &-accomplishments,
  &-events {
    ul {
      list-style: none;
      @extend %bold;
      @extend .fa-ul;
    }

    li {
      margin-bottom: 0.35rem;
    }

    li span {
      @extend .fa-li;
    }

    i {
      font-size: 1.3rem;
      color: $blue;
    }

    .award i {
      margin-top: 0.2rem;
      @extend .fas;
      @extend .fa-award;
    }

    .document i {
      @extend .fas;
      @extend .fa-file-signature;
    }

    .group i {
      @extend .fas;
      @extend .fa-users;
    }

    .application i {
      @extend .far;
      @extend .fa-browser;
    }

    &-speaking i {
      @extend .far;
      @extend .fa-keynote;
    }
  }

  &-divider {
    padding-top: 0;
    text-align: center;
    span {
      display: inline-block;
      width: 80%;
      border-top: 3px solid $gray-500;
    }
  }

  /* Medium window format */
  $timelinewidth: 150px;
  @include media-breakpoint-up(md) {

    display: grid;
    grid-gap: 0 $grid-gutter-width;
    grid-template-columns: $timelinewidth auto 30%;
    padding: 0;

    /* Our timeline should be a vertical column */
    &-timeline {
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;

      display: flex;
      flex-direction: column;
      text-align: center;

      &-start{
        order: 3;
        margin-bottom: 1rem;

        &.job-timeline-overlap {
          display: none;
        }
      }
      &-end {
        order: 1;
      }

      // Draw our connecting line;
      .divider {
        align-self: center;
        border-left: 5px dotted $blue;
        width: 1px;
        order: 2;
        flex: 1;
        overflow: hidden;
      }
    }

    &-title {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;

      display: flex;
      justify-content: space-between;
    }

    &-description,
    &-events {
      grid-row: 2 / span 1;
      grid-column: 2 / span 2;
      margin-bottom: 1rem;
    }

    &-accomplishments {
      margin-top: 4.5rem;
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
    }
  }
  /* Large window format */
  @include media-breakpoint-up(lg) {
    grid-template-columns: $timelinewidth auto 250px;

    &-title {
      &-text {
        font-size: 1.75rem;
      }
      &-position {
        font-size: 0.8em;
      }
    }
    &-description {
      grid-column: 2 / span 1;
    }
    &-accomplishments {
      grid-row: 1 / span 2;

      font-size: 1rem;
    }
  }
}

/**
 * Navbar
 */

.navbar {
  background: rgba($teal, 0.9);
  padding-top: 0;
  padding-bottom: 0;

  a {
    color: white;
    border-bottom: none;
  }

  .navbar-toggle {
    border: 1px solid $white;
    .icon-bar {
      background-color: $white;
    }
  }
}

.nav-pages {
  flex-grow: 1;
}

.nav-social {
  margin-left: auto !important;

  .icon {
    @extend .fab;
    margin-right: 0.5rem;
  }
  .linkedin .icon {
    @extend .fa-linkedin;
  }
  .github .icon {
    @extend .fa-github;
  }
  .twitter .icon {
    @extend .fa-twitter;
  }
  .spotify .icon {
    @extend .fa-spotify;
  }
}

.navbar-expand-lg .navbar-collapse {

}

.collapse:not(.collapsing):not(.show) {
  .nav-social {
    a {
      font-size: 24px;
      width: 60px;
      display: inline-block;
      position: relative;
      height: 2.5rem;
      overflow: hidden;
      text-align: center;
      .icon {
        padding-top: 12px;
      }

      span:not(.icon) {
        width: 100%;
        font-size: 12px;
        @include text-outline(darken($teal, 20%));
        transition: top 0.25s ease-in;
        position: absolute;
        left: 0;
        top: 45px;
      }
      &:hover span:not(.icon) {
        top: 11px;
      }
    }
  }
}

/**
 * Footer
 */

 .page-footer {
  @extend .container;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $sienna;
  color: $white;
  font-size: 0.85em;

  .copyright, .site-generator {
    @extend .col-md-6;
  }

  .site-generator {
    text-align: right;
  }

  a {
    color: inherit;
  }
}

/**
 * Pagination
 */

.pagination {
  span.previous {
    display: none;
  }

  .page_number, .previous {
    margin-right: 1rem;
  }
}
