---
---
@import "variables";


// @import "bootstrap/scss/bootstrap";
// @import "bootstrap_customization";
@import "@fortawesome/fontawesome-pro/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-pro/scss/solid.scss";
@import "@fortawesome/fontawesome-pro/scss/regular.scss";
@import "@fortawesome/fontawesome-pro/scss/brands.scss";

@import "partials/navbar";
@import "partials/webring";
@import "partials/home";
@import "partials/about";
@import "partials/cloud-strategy";
@import "partials/audioplayer";
@import "partials/taxi";

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

body {
  margin: 0;
  padding: 0;
  @include dotbg($lemon, $white);

  font-family: $main-font-stack;
  @extend %font-normal;
  font-size: 0.85em;

  // Only if there's a fixed navbar.
  // margin-top: 75px;
  // @include media-breakpoint-up(md) {
  //   margin-top: 111px;
  // }
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $accent-font-stack;
  @extend %font-normal;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 0.9rem;
}

p {
  margin: 0 0 0.5rem;
}

p:last-child {
  margin-bottom: 0;
}

.long {
  display: none;
}
.short {
  display: block;
}

@media (min-width: $breakpoint-md) {
  .long {
    display: block;
  }
  .short {
    display: none;
  }
}

input {
  font-family: $main-font-stack;
  @extend %font-normal;
  font-size: .85em;
}

a {
  text-decoration: none;
  color: $link-color;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.btn {
  display: inline-block;
  position: relative;
  top: 0;
  color: $white;
  background-color: $blue;
  line-height: 1.5;
  border: 1px solid $dark;
  padding: 0rem 0.5rem;
  margin: 0 0 0.25rem;

  font-family: $special-font-stack;
  font-size: 0.85rem;

  transition: all .1s ease-in-out;

  @extend %shadow-float;
  &:hover {
    top: 5px;
    box-shadow: none;
    color: $white;
    // background-color: lighten($blue, 5%);
    opacity: 0.80;
  }

  &.disabled {
    color: lighten($dark, 20%);
    background-color: #aaa;
    box-shadow: none;
    &:hover {
      top: 0;
      color: inherit;
      background-color: inherit;
    }


  }
}

strong {
  @extend %semibold;
}

hr {
  box-sizing: content-box;
  margin-top: 0;
  border: 0;
  border-top: 1px solid $blue;
  width: 80%;
}

code {
  font-family: $code-font;
  background-color: rgba(99,99,99,0.2);
}

blockquote {
  margin-left: 0.5rem;
  padding-left: 1rem;
  border-left: 3px solid ligten($dark, 30%);
}

.print-only {
  display: none;
}

.hide {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.content {
  @extend .container;
  @include shadow;
  @extend %major-border;

  font-size: 0.75rem;
  line-height: 1.25;
  background: $white;
  margin-bottom: $grid-gutter-width;
  // min-height: 70vh;
}

.page-content a:not(.btn) {
  border-bottom: 1px dotted $link-color;
  &:hover {
    color: darken($link-color, 15%);
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  // min-height: 70vh;
  .posts-container {
    flex-grow: 1;
  }
}

.example {
  display: none;
}

.example.active {
  display: block;
}

.col {
  display: flex;
  flex-direction: column;
  gap: $grid-gutter-width;

  & > section:last-child {
    flex-grow:1;
  }

  @media (max-width: $breakpoint-md) {
    margin-bottom: $grid-gutter-width;
  }
}

.post-multiple {
  @include bordered-box($blue);
  display: flex;
  flex-direction: column;

  .post-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.post-content .action-box {
  margin-top: auto;
}

.post-single {
  @include dotbg(lighten($blue, 20%));
  @include bordered-box($blue);
  line-height: 1.5;

  padding-top: $grid-gutter-width;

  .post-content {
    background-color: $white;
    @include standard-padding;
  }

  .post-title {
    padding: 0.25rem $grid-gutter-width 0.25rem;
  }

  @media (min-width: $breakpoint-md) {
    padding: $grid-gutter-width*2 200px;
  }
}

.post-multiple {
  margin-bottom: 1rem;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: $grid-gutter-width;

  @media (min-width: $breakpoint-md) {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: masonry;
  }

  .post-multiple {
    margin-bottom: 0;
  }
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $special-font-stack;
  font-size: 1.2rem;
  @include text-outline($white, 2px);
  margin-bottom: 0.5rem;
}

.old-warning {
  @extend .featured;
  margin-bottom: 1rem;
}

.content img,
.content iframe {
  max-width: 100%;
  max-height: 40vh;
}

.featured-image-box {
  text-align: center;
}

.spaced-list li {
  margin-bottom: 1.5rem;
}

.photo-comparison {
  img {
    display: block;
  }
}

.banner {
  @include standard-padding;
  border: 2px solid $blue;
  background-color: lighten($blue, 30%);
  // color: $white;

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &.stickers {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  & + & {
    margin-top: calc( -0.5rem - 2px);
    border-top: none;
  }
}

/**
 * Pagination
 */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0;

  .page_number {
    display: block;
    text-align: center;
    color: $white;
    background-color: $blue;
    line-height: 34px;
    border: 2px solid $dark;
    border-radius: 30px;
    margin: 0 0 0.25rem;
    width: 40px;
    height: 40px;

    font-family: $special-font-stack;
    font-size: 1.5rem;

    @extend %shadow-float;

    z-index: 2;
  }

  .disabled {
    opacity: 0;
  }

  .btn {
    border: 2px solid $dark;
  }

  .previous {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-right: 7px;
    margin-right: -2px;
    z-index: 1;
  }

  .next {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 7px;
    margin-left: -2px;
    z-index: 3;
  }

}

/**
 * Footer
 */

.page-footer {
  @extend .container;
  @extend %major-border;
  @include standard-padding;
  @include shadow;

  text-align: center;

  background-color: $sienna;
  color: $white;


  font-size: 0.85em;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    .credits {
      padding-top: 5px;
      border-top: 2px dotted $white;
      margin-top: 5px;
    }
  }

  & > * {
    align-self: center;
  }

  .CTW-intro,
  .CTW-nav ul {
    margin: 0px 0px 5px;
  }

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.oldschool-buttons {
  display: flex;
  gap: $grid-gutter-width / 2;
}


.old-button {
  display: inline-block;
  height: (30px + 6px);
  width: (100px + 6px);
  background-size: contain;
  border-width: 3px;
  border-style: solid;
  border-top-color: $white;
  border-left-color: $white;
  border-right-color: $dark;
  border-bottom-color: $dark;
  color: transparent !important;
  transition: all .1s ease-in-out;


  &:hover {
    border-top-color: $dark;
    border-left-color: $dark;
    border-right-color: $white;
    border-bottom-color: $white;
  }

  &.netscape {
    background-image: url('/assets/images/buttons/netscape4-100x30.gif');

    &:hover {
      background-image: url('/assets/images/buttons/netscape4-100x30-ani.gif');
    }
    @media (max-width: $breakpoint-md) {
      background-image: url('/assets/images/buttons/netscape4-100x30-ani.gif');
    }
  }

  &.jekyll {
    background-image: url('/assets/images/buttons/jekyll-100x30.png');

    &:hover {
      background-image: url('/assets/images/buttons/jekyll-100x30-ani.gif');
    }
    @media (max-width: $breakpoint-md) {
      background-image: url('/assets/images/buttons/jekyll-100x30-ani.gif');
    }
  }
}