---
---

@import "variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap_customization";
@import "web-fonts";
@import "@fortawesome/fontawesome-pro/scss/fontawesome";
@import "@fortawesome/fontawesome-pro/scss/solid.scss";
// @import "@fortawesome/fontawesome-pro/scss/light.scss";
@import "@fortawesome/fontawesome-pro/scss/regular.scss";
@import "@fortawesome/fontawesome-pro/scss/brands.scss";

@include web-fonts(
 ($accent-font: ("600", 700)),
 ($main-font: ("400", "400 italic", "600", "600 italic")),
 ($special-font: ("400"))
);

%font-normal {
  font-weight: 400;
}

%semibold {
  font-weight: 600;
}
%bold {
  font-weight: 700;
}

@mixin text-outline($color: #000) {
  text-shadow:
    -1px -1px 0 $color,
    1px -1px 0 $color,
    -1px 1px 0 $color,
    1px 1px 0 $color;
}


%shadow {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

%header-decoration {
  // @extend %shadow;
  &:hover {
    border-bottom: 2px solid $dark;
    margin-bottom: -2px;
  }

}


body {
  background: #d9d5cd url(/assets/images/bedge_grunge.jpg);
  font-family: $main-font-stack;
  @extend %font-normal;
  line-height: 1.5;

  margin-top: 75px;
  @include media-breakpoint-up(md) {
    margin-top: 111px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $accent-font-stack;
  @extend %font-normal;
  a {
    color: inherit;
  }
}

h3 {
  font-size: 1.3rem;
}

p:last-child {
  margin-bottom: 0;
}

.long {
  display: none;
}
.short {
  display: block;
}
@include media-breakpoint-up(md) {
  .long {
    display: block;
  }
  .short {
    display: none;
  }
}

input {
  font-family: $main-font;
  @extend %font-normal;
  font-size: .85em;
}

a {
  color: $link-color;
  border-bottom: 1px dotted $link-color;

  &:hover {
    border-bottom: none;
  }
}

strong {
  @extend %semibold;
}

hr {
  margin-top: 0;
  border-top: 3px solid $gray-500;
  width: 80%;
}

.print-only {
  display: none;
}

code {
  font-family: $code-font;
}

.content {
  @extend .container;
  background: $white;
  margin-bottom: 4rem;
  min-height: 70vh;
}

.example {
  display: none;
}

.example.active {
  display: block;
}

article {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post-multiple {
  margin-bottom: 1rem;
}

.featured {
  background-color: rgba($newblue, 0.1);
  padding: 1rem;
}

.featured-icon {
  @extend .fas;
  @extend .fa-star;
  color: $lemon;
  font-size: 2rem;
  float: right;
  margin-left: 0.5rem;
}

.profile-photo {
    width: 110px;
    height: 110px;
  margin-bottom: 0px;
  margin-right: 10px;
  float: left;

  .page-about & {
    width: 150px;
    height: 150px;
  }
}

.about-header {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem $grid-gutter-width/2;

  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid $dark;

  .page-about & {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .block-profile {
    line-height: 1;
    margin-bottom: 1rem;
  }

  .block-description {
    min-width: 300px;
    flex-grow: 1;
    font-size: 0.9rem;
    line-height: 1.4;
    // margin-bottom: 1rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  li {
    margin-bottom: 0.5em;
  }
}

/* About page */
.about-summary {
  text-align: justify;
  margin-bottom: 2rem;
}

.job {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: .5rem 1rem;

  &-title {
    order: 1;
    display: flex;
    justify-content: space-between;

    h3 {
      @extend %semibold;
    }

    &-text {
      font-size: 1.3rem;
    }

    span {
      display: block;
    }

    &-position {
      margin-top: 0.25rem;
      font-size: 1.1rem;
    }

    &-company {
      @extend %semibold;
    }
  }

  &-timeline {
    @extend %semibold;
    order: 2;
    padding-bottom: 0.5rem;
  }

  &-description {
    order: 3;
    margin-bottom: 1rem;
    text-align: justify;

    :first-child {
      padding-top: 0;
    }
  }

  &-accomplishments {
    order: 4;
    font-size: 0.9rem;
  }

  &-accomplishments,
  &-events {
    ul {
      list-style: none;
      @extend %bold;
      @extend .fa-ul;
    }

    li {
      margin-bottom: 0.35rem;
    }

    li span {
      @extend .fa-li;
    }

    i {
      font-size: 1.3rem;
    }

    a {
      color: $link-color;
    }

    a {
      color: $blue;
    }

    .award i {
      margin-top: 0.2rem;
      @extend .fas;
      @extend .fa-award;
    }

    .document i {
      @extend .fas;
      @extend .fa-file-signature;
    }

    .group i {
      @extend .fas;
      @extend .fa-users;
    }

    .application i {
      @extend .far;
      @extend .fa-browser;
    }

    &-speaking i {
      @extend .far;
      @extend .fa-keynote;
    }
  }

  /* Medium window format */
  @include media-breakpoint-up(md) {

    display: grid;
    grid-gap: 0 $grid-gutter-width;
    grid-template-columns: auto 30%;
    padding: 0;

    /* Our timeline should be a vertical column */
    &-timeline {
      grid-column: 1 / span 1;
    }

    &-title {
      grid-column: 1 / span 1;
    }

    &-description,
    &-events {
      grid-column: 1 / span 1;
    }

    &-accomplishments {
      grid-row: 3 / span 2;
      grid-column: 2 / span 1;
    }
  }
  /* Large window format */
  @include media-breakpoint-up(lg) {
    grid-template-columns: auto 250px;

    &-title {
      &-text {
        font-size: 1.75rem;
      }
      &-position {
        font-size: 0.85em;
      }
    }
    &-description {

    }
    &-accomplishments {
      font-size: 1rem;
    }
  }
}

/*
 * Webring
 */

.webring-form {
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid black;
}

.webring-html {
  margin-top: 1rem;
}

.webring-generated {
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: $gray-200;
}

/**
 * Navbar
 */

.navbar {
  font-family: $accent-font-stack;
  @extend %bold;

  background: $accent-color;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
  }

  a {
    color: $dark;
    border-bottom: none;
  }

  .navbar-toggle {
    border: 1px solid $white;
    .icon-bar {
      background-color: $white;
    }
  }
}

.navbar-tagline {
  width: 100%;
  flex-shrink: 0;
  font-size: 1.3rem;
  font-family: $special-font-stack;
  text-align: center;
  color: $white;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
    line-height: 1.8rem;
    height: 1rem;
  }
}

.navbar-brand {
  font-size: 2rem;
  line-height: 1;
  padding: 0px;
  @extend %header-decoration;
  -webkit-text-stroke: 1px $dark;
  -webkit-text-fill-color: $main-background;

  @include media-breakpoint-up(md) {
    font-size: 3rem;
    -webkit-text-stroke: 2px $dark;
    -webkit-text-fill-color: $main-background;
  }
}

.nav-link {
  padding: 0!important;
  margin: 0 0.5rem;
  @extend %header-decoration;
}

.navbar-toggler {
  padding: 0.5rem 0.25rem 0rem;
}

.navbar-toggler-icon {
  @extend .far;
  @extend .fa-bars;
  color: $white;
}

.nav-pages {
  flex-grow: 1;
}

.nav-social {
  margin-left: auto !important;

  .icon {
    @extend .fab;
    margin-right: 0.5rem;
  }
  .linkedin .icon {
    @extend .fa-linkedin;
  }
  .github .icon {
    @extend .fa-github;
  }
  .twitter .icon {
    @extend .fa-twitter;
  }
  .spotify .icon {
    @extend .fa-spotify;
  }
}

.navbar-expand-lg .navbar-collapse {
  flex-shrink: 0;
  width: 100%;
}

.collapse:not(.collapsing):not(.show) {
  .nav-social {
    a {
      font-size: 24px;
      width: 70px;
      display: inline-block;
      position: relative;
      line-height: 1;
      overflow: hidden;
      text-align: center;

      span:not(.icon) {
        width: 100%;
        font-size: 14px;
        @include text-outline($white);
        transition: top 0.25s ease-in;
        position: absolute;
        left: 0;
        top: 45px;
      }
      &:hover span:not(.icon) {
        top: 5px;
      }
    }
  }
}

/**
 * Footer
 */

 .page-footer {
  @extend .container;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $sienna;
  color: $white;
  font-size: 0.85em;

  .copyright, .site-generator {
    @extend .col-md-6;
  }

  .site-generator {
    text-align: right;
  }

  a {
    color: inherit;
    border-color: $white;
  }
}

/**
 * Pagination
 */

.pagination {
  span.previous {
    display: none;
  }

  .page_number, .previous {
    margin-right: 1rem;
  }
}
