$pumpkin: #E6530D;

#halloweeeen {
  background: $pumpkin url('/assets/images/bats.png');
  /* Bats from www.textures4photoshop.com */

  a {
    color: $pumpkin;
  }

  .btn, a.nav-link {
    color: $white;
    background-color: $pumpkin;
  }

  .post-title a,
  .page-footer a,
  .tab.active a {
    color: $white;
  }

  .tab {
    a {
      color: lighten($pumpkin, 15%);
    }

    &:hover:not(.active) a {
      color: $dark;
    }
  }

  .audioplayer-block, .navbar-nav, .branding,
  .post-header {
    background-color: $pumpkin;
  }

  .navbar, .featured, .shop, .posts, .recommended, .jobs,
  .post-single {
    background: black;
  }

  .banner {
    border-color: $pumpkin;
    background-color: lighten($pumpkin, 40%);
  }

  /* Replace RSS icon with bats */
  .fa-rss::before {
    content: "\f6b5";
  }

  .rss-link {
    color: black;
    .icon {
      rotate: 45deg;
      position: relative;
      left: 1px;
      top: 3px;
    }
  }

  .about-header {
    background-color: black;
    border: none;
  }

  .navbar-tagline {
    font-size: 2.5rem;

    @media (max-width: $breakpoint-md) {
      font-size: 1.5rem;
      padding: 5px 0px;
    }

    margin-top: 2px;
    -webkit-text-stroke: 0px black;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("/assets/images/firecloud.jpg");
    background-repeat: repeat-x;
    background-size: 512px 100px;

  animation: 5s bgslide linear infinite;
  transform:translateY(0);
  }

  @-webkit-keyframes bgslide {
      from { background-position: 0% 0%}
      to { background-position: 512px 0% }
  }
}