.page-blog {

}
.row {
  @media (min-width: $breakpoint-md) {
    display: grid;
    gap: $grid-gutter-width $grid-gutter-width;
    grid-template-columns: $column-width $column-width $column-width;
  }
}

.posts {
  @include dotbg($blue);
  @include standard-padding;
}

.date {
  font-weight: bold;
}

.page-content {
  text-align: justify;
}

.featured,
.shop {
  $feature-color: $sienna;

  @include dotbg($feature-color);
  @include standard-padding;


  .post-multiple {
    @include bordered-box($feature-color);


    .featured-icon + .post-title a {
      padding-left: 18px;
    }
  }

  & + & {
    margin-top: -1rem;
    padding-top: 0;
  }

}

.recommended {
  $recommended-color: $green;

  @include dotbg($recommended-color);
  @include standard-padding;

  .post-multiple {
    @include bordered-box($recommended-color);
  }
  .btn, .page-number {
    background-color: $recommended-color;
  }
}

.jobs, .usajobs {
  $jobs-color: $purple;

  @include dotbg($jobs-color);
  @include standard-padding;

  .post-multiple {
    @include bordered-box($jobs-color);
  }
  .btn {
    background-color: $jobs-color;
  }
}

.links {
  $links-color: $blue;

  @include dotbg($links-color);
  @include standard-padding;

  .post-multiple {
    @include bordered-box($links-color);
  }
  .btn {
    background-color: $links-color;
  }
}


.featured-icon {
  color: $white;
  background-color: $lemon;

  // @include linebg($blue, $white);
  -webkit-text-stroke: 2px $dark;

  position: absolute;
  margin-top: -3px;
  margin-left: -18px;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  @extend %bordered;
  font-size: 30px;
  line-height: 0.85;
  text-align: center;
}

%circle-icon {
  display: inline-block;
  position: relative;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  @extend %bordered;
  font-size: 14px;
  line-height: 1;

  .icon {
    position: relative;
    left: 5px;
    top: 2px;
    text-shadow: none;
    padding: 0;
    display: inline-block;
  }
}

.rss-link {
  @extend %circle-icon;

  color: $dark;
  background-color: $lemon;

  transition: all .1s ease-in-out;
  @extend %shadow-float;

  &:hover {
    top: 5px;
    box-shadow: none;
    opacity: 0.80;
  }


  .fa-users {
    left: 2px;
    top: 4px;
  }

  .fa-fire {
    font-size: 1rem;
    left: 3px;
    top: 3px;
  }
}

.badge {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.badge-hot {
  @extend %circle-icon;
  background-color: $sienna;
  color: $white;

  .icon {
    font-size: 0.95rem;
    position: relative;
    left: 4px;
    top: 2px;
  }
}
