/**
 * Navbar
 */

.navbar {
  font-family: $accent-font-stack;
  @extend %bold;
  @extend %shadow;
  border: 3px solid $dark;

  background: $accent-color;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
  }

  a {
    color: $dark;
    border-bottom: none;
  }

  .navbar-toggle {
    border: 1px solid $white;
    .icon-bar {
      background-color: $white;
    }
  }
}

.navbar-tagline {
  width: 100%;
  flex-shrink: 0;
  font-size: 0.6rem;
  font-family: $special-font-stack;
  text-align: center;
  color: $white;

  @include media-breakpoint-up(md) {
    font-size: 0.7rem;
    line-height: 1.8rem;
    height: 1rem;
  }
}

.navbar-brand {
  font-size: 2rem;
  line-height: 1;
  padding: 0px;
  @extend %header-decoration;
  -webkit-text-stroke: 1px $dark;
  // -webkit-text-fill-color: $main-background;

  background: linear-gradient(180deg,
    $white 0%,
    $white 30%,
    $lemon 30%,
    $lemon 50%,
    $sienna 50%,
    $sienna 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media-breakpoint-up(md) {
    font-size: 4rem;
    -webkit-text-stroke: 3px $dark;
    // -webkit-text-fill-color: $main-background;
  }
}

.nav-link {
  padding: 0!important;
  margin: 0 0.5rem;
  @extend %header-decoration;
}

.navbar-toggler {
  padding: 0.5rem 0.25rem 0rem;
}

.navbar-toggler-icon {
  color: $white;
}

.nav-pages {
  flex-grow: 1;
}

.nav-social {
  margin-left: auto !important;

  .icon {
    margin-right: 0.5rem;
  }
}

.navbar-expand-lg .navbar-collapse {
  flex-shrink: 0;
  width: 100%;
}

.collapse:not(.collapsing):not(.show) {
  .nav-social {
    a {
      font-size: 24px;
      width: 70px;
      display: inline-block;
      position: relative;
      line-height: 1;
      overflow: hidden;
      text-align: center;

      span:not(.icon) {
        width: 100%;
        font-size: 14px;
        @include text-outline($white);
        transition: top 0.25s ease-in;
        position: absolute;
        left: 0;
        top: 45px;
      }
      &:hover span:not(.icon) {
        top: 5px;
      }
    }
  }
}
