/**
 * Navbar
 */

%navbox {
  @extend %major-border;
  background-color: $blue;
}

.navbar {
  font-family: $accent-font-stack;
  display: flex;
  align-items: stretch;
  margin-bottom: $grid-gutter-width;
  @include dotbg($blue);

  & > * {
    flex-grow: 1;
    max-width: 100%;
  }

  @media (min-width: $breakpoint-md) {
    display: grid;
    gap: $grid-gutter-width $grid-gutter-width;
    grid-template-columns: ($column-width - $grid-gutter-width) 1fr ($column-width - $grid-gutter-width);
    grid-template-rows: 50px 25px;
    grid-template-areas:
      "branding about about"
      "branding nav player";

    @include standard-padding;
    @include shadow;
  }

  * {
    // align-self: start;
  }

  // @extend %shadow;
  // border: 3px solid $dark;

  // background: $accent-color;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-md) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-toggle {
    border: 1px solid $white;
    .icon-bar {
      background-color: $white;
    }
  }
}

.branding {
  @extend %navbox;
  grid-area: branding;
  text-align: center;
}

.navbar-tagline {
  text-align: center;
  font-size: 1rem;
  font-family: $special-font-stack;
  color: $white;

  @media (min-width: $breakpoint-md) {
    font-size: 1.8rem;
    line-height: 44px;
  }
}

.navbar-brand {
  @extend %bold;
  font-size: 4rem;
  line-height: 1;
  padding: 0px;
  @extend %header-decoration;
  -webkit-text-stroke: 2px $dark;
  // -webkit-text-fill-color: $main-background;

  &:hover {
    border-bottom: none;
  }

  background: linear-gradient(180deg,
    $white 0%,
    $white 30%,
    $lemon 30%,
    $lemon 50%,
    $sienna 50%,
    $sienna 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $breakpoint-md) {

  }
}

.navlink-container {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: end;
}

.about-description {
  font-size: 0.75rem;
  color: $white;
}

.navbar-nav {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @extend %navbox;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  // padding: 2px 4px;

  &:not(:last-child) {
    border-right: 1px solid $dark;
  }
  .nav-social & {
    flex-grow: 0;
  }
}

.nav-link {
  display: inline-block;
  width: 100%;
  padding: 3px 6px;
  height: 21px;
  margin: 0;
  font-family: $special-font-stack;
  font-size: 0.75rem;
  @extend %header-decoration;
  color: white;
  transition: all .25s ease-in-out;
  background-color: rgba(darken($white, 10%), 0);

  &:hover {
    color: $dark;
    background-color: rgba(darken($white, 10%), 1);
    border-bottom: none;
  }

  .nav-social & {
    padding: 2px 3px;
    font-size: 18px;
    line-height: 15px;
  }
}

.audioplayer-block {
  grid-area: player;
  @extend %navbox;
  // align-self: end;
}

.about-header{
  order: 1;
  grid-area: about;
  justify-content: center;
  align-items: center;
  @extend %navbox;
  align-self: stretch;

  font-size: 0.75rem;

  /* Animation */
  overflow: hidden;

  & > * {
    animation: 15s slide-down 0s ease-in-out infinite;
    transform:translateY(-80px);
  }

  @keyframes slide-down {
    0% {
      transform:translateY(-100px);
    }
    10% {
      transform:translateY(0);
    }
    90% {
      transform:translateY(0);
    }
    100% {
      transform:translateY(200px);
    }
  }
  /* End Animation */
}
