---
layout: default
---

<section class="posts content-container {{ page.title | slugify }}">

  <header class="section-header">
    <h2 class="section-title">{{ page.title }}</h2>
      <ol class="meta-links">
          <li>
            {% if page.title == 'Blog' %}
              <a href="/feed.xml" class="rss-link" title="Follow this site with RSS"><span class="icon fas fa-rss"></span></a>
            {% elsif page.title == 'recommended' %}
              <a href="/recommended.xml" class="rss-link" title="Follow recommended posts only with RSS"><span class="icon fas fa-rss"></span></a>
            {% endif %}
          </li>
      </ol>
  </header>

  {% if page.content and page.content != '' %}
    <section class="banner">
      {{ page.content | markdownify }}
    </section>
  {% endif %}

  <div class="posts-container">
    {% for post in paginator.posts %}

      {% assign url = post.url %}
      {% if post.link %}{% unless post.link contains site.url %}{% assign url = post.link %}{% endunless %}{% endif %}

      <article class="post-multiple">
        <header class="post-header hoverable">
          <h3 class="post-title"><a href="{{ url }}"{% if url contains 'http' %}{% else %}up-follow{% endif %}>{{ post.title }}</a></h3>
        </header>
        <div class="post-content">
          {% if post.image %}
            <p>
              <img src="{{ site.url }}{{ post.image }}" class="featured-image">
            </p>
          {% endif %}
          <p>
            <span class="date">
              {{ post.date | date: site.date_format }}
            </span> –
          {% if page.title == 'Blog' %}
            {% if post.excerpt %}
              {{ post.excerpt | strip_html }}
            {% else %}
              {{ post.content | strip_html | truncatewords:75 }}
            {% endif %}
          {% else %}
            {{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}
          {% endif %}
          </p>
          <p>
            <a href="{{ url }}" class="btn"{% if url contains 'http' %}{% else %}up-follow{% endif %}>Read This</a>
          </p>
        </div>
      </article>
    {% endfor %}
  </div>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous btn" title="Previous Page" up-follow>
        ◀
      </a>
    {% else %}
      <span class="previous btn disabled">▶</span>
    {% endif %}
    <span class="page-number ">
      {{ paginator.page }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next btn" title="Next Page" up-follow>▶</a>
    {% else %}
      <span class="next btn disabled">▶</span>
    {% endif %}
  </div>
</section>

