---
layout: default
---

<div class="row page-index">
<div class="col">
  <section class="featured">
    <h2 class="section-title">Projects</h2>
    <div class="post-multiple project-tabs">
      <ul class="tabgroup" data-target="projects">
        <li class="tab">
          <a href="#videogames">
            <span class="icon fal fa-gamepad-modern"></span>
            <span class="tab-title">Games</span>
          </a>
        </li>
        <li class="tab active">
          <a href="#shirts">
            <span class="icon fal fa-shirt"></span>
            <span class="tab-title">Shirts</span>
          </a>
        </li>
        <li class="tab">
          <a href="#stickers">
            <span class="icon fal fa-note-sticky"></span>
            <span class="tab-title">Stickers</span>
          </a>
        </li>
        <li class="tab">
          <a href="#eopbot">
            <span class="icon fal fa-robot"></span>
            <span class="tab-title">EOPbot</span>
          </a>
        </li>
        <li class="tab">
          <a href="#policy">
            <span class="icon fal fa-university"></span>
            <span class="tab-title">Policy</span>
          </a>
        </li>
      </ul>
      <section id="projects" class="tab-target-container">
        <article class="tab-target" id="videogames">
          <p>
            Enderprise Architecture, my YouTube gaming channel
          </p>
          <a class="btn" href="https://www.youtube.com/channel/UCSL7BIdwgBEZ09BpD9xPPYQ">Watch Now!</a>
        </article>
        <article class="tab-target active" id="shirts">
          <p>
            NEW for November!!! Govpunk T-shirts!
          </p>
          <a class="btn" href="/shop/" up-follow>Get Dressed!</a>
        </article>
        <article class="tab-target" id="stickers">
          <p>
            I'm giving out <strong>Move Carefully and Fix Things</strong> and <strong>Govpunk</strong> stickers for FREE!
          </p>
          <a class="btn" href="/stickers/" up-follow>Get a FREE Sticker!</a>
        </article>
        <article class="tab-target" id="eopbot">
          <p>
            EOPbot: my White House policy bot!
          </p>
          <a class="btn" href="https://botsin.space/@EOPbot">Follow EOPbot on mastodon!</a>
        </article>
        <article class="tab-target" id="policy">
          <p>
            My open source guide to US Government IT Policy
          </p>
          <a class="btn" href="https://digitalpolicy.us/">Learn Policy!</a>
        </article>
      </section>
    </div>

    <h2 class="section-title">Featured</h2>

  <!-- This loops through the paginated posts -->
  {% assign featured_posts = site.posts | where:"featured","true" %}
    {% for post in featured_posts -%}
      <article class="post-multiple">
        <header class="post-header hoverable">
          <span class="featured-icon">★</span>
          <h3 class="post-title"><a href="{{ post.url }}" up-follow>{{ post.title }}</a></h3>
        </header>
        <section class="post-content">
          {% if post.image %}
            <p>
              <img src="https://billhunt.dev{{ post.image }}" class="featured-image">
            </p>
          {% endif %}
          <p>
            <span class="date">
              {{ post.date | date: site.date_format  }}
            </span> –
          {% if post.excerpt %}
            {{ post.excerpt }}
          {% else %}
            {{ post.content | strip_html | truncatewords:75 }}
          {% endif %}
          </p>
          <p class="action-box">
            <a href="{{ post.url }}" class="btn" up-follow>Read This</a>
          </p>
        </section>
      </article>
    {% endfor %}

    <!--article class="post-multiple">
      <header class="post-header hoverable">
        <span class="featured-icon">★</span>
        <h3 class="post-title"><a href="/stickers/" up-follow>New FREE Stickers!</a></h3>
      </header>
      <section class="post-content">
        <img alt="A Govpunk sticker, white text on a red eleven-pointed star with a black background, next to a Move Carefully and Fix Things sticker, with white lettering on a blue background" src="https://billhunt.dev/uploads/2023/01/stickers.jpg">
        <p>
          New Year, New Stickers, same supporting of good causes! Caring is punk rock!
        </p>
        <p class="action-box">
          <a href="/move-carefully/" class="btn" up-follow>Get a free sticker!</a>
        </p>
      </section>
    </article-->

    <article class="post-multiple">
      <header class="post-header hoverable">
        <span class="featured-icon">★</span>
        <h3 class="post-title"><a href="https://www.youtube.com/channel/UCSL7BIdwgBEZ09BpD9xPPYQ" up-follow>Enderprise Architecture</a></h3>
      </header>
      <section class="post-content">
        <p>
          For the last year, I've been thinking about starting a YouTube channel for playing Minecraft, Satisfactory, and other games - and I finally did it! The first few episodes of <strong>Enderprise Architecture</strong> are online, where I play the new Update 6 of Satisfactory! Don't forget to like and subscribe!!!
        </p>
        <p class="action-box">
          <a href="https://www.youtube.com/channel/UCSL7BIdwgBEZ09BpD9xPPYQ" class="btn" up-follow>Check out the channel!</a>
        </p>
      </section>
    </article>

    <article class="post-multiple">
      <header class="post-header hoverable">
        <span class="featured-icon">★</span>
        <h3 class="post-title"><a href="/shop/" up-follow>Govpunk T-Shirts!</a></h3>
      </header>
      <section class="post-content">
        <img class="featured-image" alt="Photo of Govpunk T-Shirts" src="https://billhunt.dev/uploads/2022/09/tshirts-small.jpg">
        <p>
          I've been spending my downtime designing some government IT-inspired t-shirts, in line with my <strong>#govpunk</strong> concept. Folks on social media liked them enough that I've actually put them up for sale! Note that I make no money from these, I just want more weird things out in the world.
        </p>
        <p class="action-box">
          <a href="/shop/" class="btn" up-follow>Check out the shirts!</a>
        </p>
      </section>
    </article>


  </section>
</div>

{% assign normal_posts = site.posts | where:"featured",nil %}

<div class="col">
  <section class="posts">
    <h2 class="section-title">Recent Posts
      <a href="/feed.xml" class="rss-link" title="Follow this site with RSS"><span class="icon fas fa-rss"></span></a>
    </h2>
    {% for post in normal_posts limit:6 %}
      <article class="post-multiple">
        <header class="post-header hoverable">
          <h3 class="post-title"><a href="{{ post.url }}" up-follow>{{ post.title }}</a></h3>
        </header>
        <section class="post-content">
          {% if post.image %}
            <p>
              <img src="https://billhunt.dev{{ post.image }}" class="featured-image">
            </p>
          {% endif %}
          <p>
            <span class="date">
              {{ post.date | date: site.date_format  }}
            </span> –
          {% if post.excerpt %}
            {{ post.excerpt }}
          {% else %}
            {{ post.content | strip_html | truncatewords:75 }}
          {% endif %}
          </p>
          <p class="action-box">
            <a href="{{ post.url }}" class="btn" up-follow>Read This</a>
          </p>
        </section>
      </article>
    {% endfor %}
    <a href="/blog/{% if normal_posts.size == site.paginate %}2/{% endif %}" class="btn" up-follow>More Posts</a>
  </section>
</div>

<div class="col">
  <section class="recommended">
    <h2 class="section-title">Recommended</h2>
    {% assign recommended = site.recommended | reverse%}
    {% for post in recommended limit:3 %}
      <article class="post-multiple">
        {% if post.title %}
          <header class="post-header hoverable">
            <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
          </header>
        {% endif %}
        <section class="post-content">
          {% if post.image %}
            <p class="featured-image-box">
              <img src="{{ post.image }}" class="featured-image" alt="Image of {{ post.title }}">
            </p>
          {% endif %}
          <p>
            <span class="date">
              {{ post.date | date: site.date_format  }}
            </span> –
            {{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}
          </p>
          <p class="action-box">
            <a href="{{ post.link }}" class="btn">Check It Out</a>
          </p>
        </section>
      </article>
    {% endfor %}
    <a href="/recommended/" class="btn" up-follow>More Links</a>
  </section>

  <section class="jobs">
    <h2 class="section-title">Cool Jobs
      <a href="/jobs.xml" class="rss-link" title="Follow jobs list only, with RSS"><span class="icon fas fa-rss"></span></a>
    </h2>

{% assign posts = site.data.usajobs | where_exp:"job", "job.content" %}
{%- for post in posts limit: 3 %}
  {% assign title = post.agency %}
  {% assign title = title | append: ' - ' | append: post.title %}

  {% assign classes = 'job-post' %}
  {% if specialpay contains post.agency %}
    {% assign classes = classes | append: ' special-pay' %}
  {% endif %}
  {% if post.title contains 'INFOSEC' or post.title contains 'Security' %}
    {% assign classes = classes | append: ' security' %}
  {% endif %}
  {% if post.remote %}
    {% assign classes = classes | append: ' remote' %}
    {% assign title = title | append: ' (Remote)' %}
  {% endif %}
  {% assign post = post | setval: 'classes', classes %}
  {% assign post = post | setval: 'title', title %}

  {% if post.closes %}
    {% capture afterwards %} **Closes {{ post.closes | date: site.date_format }}**{% endcapture %}
    {% assign post = post | setval: 'afterwards', afterwards %}
  {% endif %}

  {% assign items = items | push: post %}

  {% include card.html %}
{% endfor -%}

    <a href="/jobs/" class="btn" up-follow>More Jobs</a>
  </section>
</div>

</div>
