---
layout: default
---

<div class="row page-index">
<div class="col">
  <section class="featured">
    <h2 class="section-title">Projects</h2>
    <div class="post-multiple project-tabs">
      <ul class="tabgroup" data-target="projects">
        <li class="tab">
          <a href="#videogames">
            <span class="icon fal fa-gamepad-modern"></span>
            <span class="tab-title">Games</span>
          </a>
        </li>
        <li class="tab active">
          <a href="#shirts">
            <span class="icon fal fa-shirt"></span>
            <span class="tab-title">Shirts</span>
          </a>
        </li>
        <li class="tab">
          <a href="#stickers">
            <span class="icon fal fa-note-sticky"></span>
            <span class="tab-title">Stickers</span>
          </a>
        </li>
        <li class="tab">
          <a href="#eopbot">
            <span class="icon fal fa-robot"></span>
            <span class="tab-title">EOPbot</span>
          </a>
        </li>
        <li class="tab">
          <a href="#policy">
            <span class="icon fal fa-university"></span>
            <span class="tab-title">Policy</span>
          </a>
        </li>
      </ul>
      <section id="projects" class="tab-target-container">
        <article class="tab-target" id="videogames">
          <p>
            Enderprise Architecture, my YouTube gaming channel
          </p>
          <a class="btn" href="https://www.youtube.com/channel/UCSL7BIdwgBEZ09BpD9xPPYQ">Watch Now!</a>
        </article>
        <article class="tab-target active" id="shirts">
          <p>
            NEW for November!!! Govpunk T-shirts!
          </p>
          <a class="btn" href="/shop/" up-follow>Get Dressed!</a>
        </article>
        <article class="tab-target" id="stickers">
          <p>
            Get a Move Carefully and Fix Things Sticker for FREE!
          </p>
          <a class="btn" href="/move-carefully/" up-follow>Get a Sticker!</a>
        </article>
        <article class="tab-target" id="eopbot">
          <p>
            My White House policy tweeting bot, @EOPbot!
          </p>
          <a class="btn" href="https://twitter.com/EOPbot">Follow @EOPbot!</a>
        </article>
        <article class="tab-target" id="policy">
          <p>
            My open source guide to US Government IT Policy
          </p>
          <a class="btn" href="https://digitalpolicy.us/">Learn Policy!</a>
        </article>
      </section>
    </div>

    <h2 class="section-title">Featured</h2>

    <article class="post-multiple">
      <header class="post-header hoverable">
        <span class="featured-icon">★</span>
        <h3 class="post-title"><a href="https://www.youtube.com/channel/UCSL7BIdwgBEZ09BpD9xPPYQ" up-follow>Enderprise Architecture</a></h3>
      </header>
      <section class="post-content">
        <p>
          For the last year, I've been thinking about starting a YouTube channel for playing Minecraft, Satisfactory, and other games - and I finally did it! The first few episodes of <strong>Enderprise Architecture</strong> are online, where I play the new Update 6 of Satisfactory! Don't forget to like and subscribe!!!
        </p>
        <p class="action-box">
          <a href="https://www.youtube.com/channel/UCSL7BIdwgBEZ09BpD9xPPYQ" class="btn" up-follow>Check out the channel!</a>
        </p>
      </section>
    </article>

    <article class="post-multiple">
      <header class="post-header hoverable">
        <span class="featured-icon">★</span>
        <h3 class="post-title"><a href="/shop/" up-follow>Govpunk T-Shirts!</a></h3>
      </header>
      <section class="post-content">
        <img alt="Photo of Govpunk T-Shirts" src="https://billhunt.dev/uploads/2022/09/tshirts-small.jpg">
        <p>
          I've been spending my downtime designing some government IT-inspired t-shirts, in line with my <strong>#govpunk</strong> concept. Folks on social media liked them enough that I've actually put them up for sale! Note that I make no money from these, I just want more weird things out in the world.
        </p>
        <p class="action-box">
          <a href="/shop/" class="btn" up-follow>Check out the shirts!</a>
        </p>
      </section>
    </article>

    <article class="post-multiple">
      <header class="post-header hoverable">
        <span class="featured-icon">★</span>
        <h3 class="post-title"><a href="/move-carefully/" up-follow>Move Carefully and Fix Things Stickers</a></h3>
      </header>
      <section class="post-content">
        <img alt="Photo of Move Carefully and Fix Things stickers" src="https://billhunt.dev/uploads/2021/02/movecarefully-photo.jpg">
        <p>
          After my <a href="/blog/2020/11/09/welcome-home/">little post on joining government service</a>, a lot of people asked about stickers for “Move Carefully and Fix Things." I had some made and now I want to give them to you for free! (But maybe we can also help good causes at the same time!)
        </p>
        <p class="action-box">
          <a href="/move-carefully/" class="btn" up-follow>Get a free sticker!</a>
        </p>
      </section>
    </article>

  <!-- This loops through the paginated posts -->
  {% assign featured_posts = site.posts | where:"featured","true" %}
    {% for post in featured_posts -%}
      <article class="post-multiple">
        <header class="post-header hoverable">
          <span class="featured-icon">★</span>
          <h3 class="post-title"><a href="{{ post.url }}" up-follow>{{ post.title }}</a></h3>
        </header>
        <section class="post-content">
          {% if post.image %}
            <p>
              <img src="https://billhunt.dev{{ post.image }}" class="featured-image">
            </p>
          {% endif %}
          <p>
            <span class="date">
              {{ post.date | date: site.date_format  }}
            </span> –
          {% if post.excerpt %}
            {{ post.excerpt }}
          {% else %}
            {{ post.content | strip_html | truncatewords:75 }}
          {% endif %}
          </p>
          <p class="action-box">
            <a href="{{ post.url }}" class="btn" up-follow>Read This</a>
          </p>
        </section>
      </article>
    {% endfor %}
  </section>
</div>

{% assign normal_posts = site.posts | where:"featured",nil %}

<div class="col">
  <section class="posts">
    <h2 class="section-title">Recent Posts
      <a href="/feed.xml" class="rss-link" title="Follow this site with RSS"><span class="icon fas fa-rss"></span></a>
    </h2>
    {% for post in normal_posts limit:6 %}
      <article class="post-multiple">
        <header class="post-header hoverable">
          <h3 class="post-title"><a href="{{ post.url }}" up-follow>{{ post.title }}</a></h3>
        </header>
        <section class="post-content">
          {% if post.image %}
            <p>
              <img src="https://billhunt.dev{{ post.image }}" class="featured-image">
            </p>
          {% endif %}
          <p>
            <span class="date">
              {{ post.date | date: site.date_format  }}
            </span> –
          {% if post.excerpt %}
            {{ post.excerpt }}
          {% else %}
            {{ post.content | strip_html | truncatewords:75 }}
          {% endif %}
          </p>
          <p class="action-box">
            <a href="{{ post.url }}" class="btn" up-follow>Read This</a>
          </p>
        </section>
      </article>
    {% endfor %}
    <a href="/blog/{% if normal_posts.size == site.paginate %}2/{% endif %}" class="btn" up-follow>More Posts</a>
  </section>
</div>

<div class="col">
  <section class="recommended">
    <h2 class="section-title">Recommended</h2>
    {% assign recommended = site.recommended | reverse%}
    {% for post in recommended limit:3 %}
      <article class="post-multiple">
        {% if post.title %}
          <header class="post-header hoverable">
            <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
          </header>
        {% endif %}
        <section class="post-content">
          {% if post.image %}
            <p class="featured-image-box">
              <img src="{{ post.image }}" class="featured-image" alt="Image of {{ post.title }}">
            </p>
          {% endif %}
          <p>
            <span class="date">
              {{ post.date | date: site.date_format  }}
            </span> –
            {{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}
          </p>
          <p class="action-box">
            <a href="{{ post.link }}" class="btn">Check It Out</a>
          </p>
        </section>
      </article>
    {% endfor %}
    <a href="/recommended/" class="btn" up-follow>More Links</a>
  </section>

  <section class="jobs">
    <h2 class="section-title">Cool Jobs
      <a href="/jobs.xml" class="rss-link" title="Follow jobs list only, with RSS"><span class="icon fas fa-rss"></span></a>
    </h2>
    {% for post in site.data.jobs limit:3 %}
      {%- assign now = 'now' | date: '%s' -%}
      {%- assign closes = post.closes | date: '%s' -%}
      {%- if closes == nil or closes == '' or closes > now  -%}
      <article class="post-multiple">
        {% if post.title %}
          <header class="post-header hoverable">
            <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          </header>
        {% endif %}
        <section class="post-content">
          <p>
            <strong>{{ post.date | date: site.date_format }}</strong> –
            {{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}
            {% if post.closes %}
               <span class="date">
                Closes {{ post.closes | date: site.date_format  }}
              </span>
            {% endif %}
          </p>
          <p class="action-box">
            <a href="{{ post.url }}" class="btn">Apply</a>
          </p>
        </section>
      </article>
      {% endif %}
    {% endfor %}
    <a href="/jobs/" class="btn" up-follow>More Jobs</a>
  </section>
</div>

</div>
