---
layout: default
---
<script>
document.addEventListener('DOMContentLoaded', () => {
  const jobs = document.getElementsByClassName('job-post');
  const buttons = document.getElementsByClassName('checkbox-btn');
  const filters = document.getElementsByClassName('filter');

  [...buttons].forEach(elm => {
    elm.addEventListener('click', (e) => {
      doFilter();
    })
  });

  function doFilter() {
    let filtered = [...filters].reduce((acc, elm) => {
      if(elm.checked) {
        if(elm.value.length > 0) {
          acc.push(elm.value);
        }
      }
      return acc;
    }, []);

    [...jobs].forEach(elm => {
      elm.classList.remove('hide');
      filtered.forEach(filter => {
        if(!elm.classList.contains(filter)) {
          elm.classList.add('hide');
        }
      });
    });

    console.log('filtered', filtered);
  }
});
</script>

<article class="page-{{page.title | slugify }}">
  {% if page.banner %}
    <section class="banner stickers">
      {{ page.banner | markdownify }}
    </section>
  {% endif %}
  <section class="{{page.datum}} content-container">
    <h2 class="section-title">
      {{ page.title }}
      {% if page.feed %}
        <a href="{{ page.feed.link }}" class="rss-link" title="{{ page.feed.title }}"><span class="icon fas fa-rss"></span></a>
      {% endif %}
    </h2>
    {% if page.content.size > 0 %}
      <div class="post-content">
        {{ content }}
      </div>
    {% endif %}
    <div class="post-content">
      <strong>Filters</strong>
      <ul class="filters">
        <li>
          <label for="special-pay" class="checkbox-btn">
            <input name="special-pay" type="checkbox" id="special-pay" value="special-pay" class="filter">
            <span class="filter-button btn">Special Pay Agencies</span>
          </label>
        </li>
        <li>
          <label for="security" class="checkbox-btn">
            <input name="security" type="checkbox" id="security" value="security" class="filter">
            <span class="filter-button btn">Cybersecurity Jobs</span>
          </label>
        </li>
        <li>
          <label for="remote" class="checkbox-btn">
            <input name="remote" type="checkbox" value="remote" id="remote" class="filter">
            <span class="filter-button btn">Remote</span>
          </label>
        </li>
        <li>
          <div class="radio-group" role="radiogroup">
            <label for="grade-all" class="checkbox-btn">
              <input type="radio" name="grade" id="grade-all" value="" checked class="filter">
              <span class="filter-button btn">All Grades</span>
            </label>
            <label for="grade-ses" class="checkbox-btn">
              <input type="radio" name="grade" id="grade-ses" value="grade-ses" class="filter">
              <span class="filter-button btn">SES</span>
            </label>
            <label for="grade-15" class="checkbox-btn">
              <input type="radio" name="grade" id="grade-15" value="grade-15" class="filter">
              <span class="filter-button btn">GS 15+</span>
            </label>
            <label for="grade-14" class="checkbox-btn">
              <input type="radio" name="grade" id="grade-14" value="grade-14" class="filter">
              <span class="filter-button btn">GS 14+</span>
            </label>
          </div>
        </li>
    </div>
    <div class="posts-container">
      {{ page.jobs }}
    </div>
  </section>
</article>
