---
layout: default
---

<article class="page-{{page.title | slugify }}">
  {% if page.banner %}
    <section class="banner stickers">
      {{ page.banner | markdownify }}
    </section>
  {% endif %}
  <section class="{{page.datum}} content-container">
    <h2 class="section-title">
      {{ page.title }}
      {% if page.feed %}
        <a href="{{ page.feed.link }}" class="rss-link" title="{{ page.feed.title }}"><span class="icon fas fa-rss"></span></a>
      {% endif %}
    </h2>
    {% if page.content.size > 0 %}
      <div class="post-content">
        {{ content }}
      </div>
    {% endif %}
    <div class="posts-container">
      {% for post in page.items %}
        {% include card.html %}
      {% endfor %}
    </div>
  </section>
</article>
