---
layout: default
---
<section class="featured">
    If you’d like to show everyone that you also want to Move Carefully and Fix Things, I’d like to send you a sticker for free! <a href="/move-carefully/">Here’s how to get yours</a>!
</section>

<article class="post-single">
  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%b %-d, %Y" }}

      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
    <nav aria-label="breadcrumb" class="breadcrumb-container">
      {% include breadcrumbs.html path=page.path title=page.title %}
    </nav>
      {% assign newDate = page.date | date: '%s' | minus: 0 %}
      {% if newDate < site.feed.age %}
        <div class="old-warning">
          <strong>Note:</strong> This post is old and the information in it may not be accurate. Please proceed with caution!
        </div>
      {% endif %}
  </header>

  <section class="post-content">
    {{ content }}
  </section>

</article>
