<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="user-scalable=no">

  <link rel="stylesheet" href="{{ "/assets/game.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="/demo/shared/fonts/gamefont.css">

  <title>{{ page.title }}</title>
  <script type="text/javascript" src="js/plugins.js"></script>
</head>
<body style="background-color: black; color: white;">
  <h1>{{ page.title }}</h1>
  <div class="game-wrapper">
    <section class="game-instructions">
      {{ content }}
      <p>
        <a href="/">Back to main site.</a>
      </p>
    </section>
    <section id="game" class="game-container"></section>
  </div>
  <script type="text/javascript" src="/demo/shared/js/bundle.js"></script>
</body>
</html>